<% for(let tweet of allTweets){ %>
  <div class="tweet border border-top-0 p-2">
    <div class="tweet-header d-flex" style="margin-bottom: 0px 0px 10px">
      <div style="width: 80px">
        <img src="<%= tweet.user.image %>" alt="Avatar del usuario" class="tweet-avatar"
          style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px" />
      </div>
      <div class="w-100">
        <div class="d-flex">
          <div class="tweet-fullname" style="font-weight: bold">
            <%= tweet.user.firstname %>
              <%= tweet.user.lastname %>
          </div>
          <div class="tweet-username" style="color: #888">@<%= tweet.user.username%>
          </div>
          <div>&bull;</div>
          <div class="tweet-date">
            <%= tweet.formattedData %>
            <% console.log(tweet.formattedData)%>
          </div>
        </div>
        <div class="tweet-content" style="margin-bottom: 10px">
          <%= tweet.content %>
        </div>
        <div class="tweet-footer" style="display: flex; justify-content: space-between; color: #888; font-size: 12px">
          <div class="tweet-actions">
            <span><%- include ("../../public/img/icons/like.svg") %></span>
            <span>Count</span>
          </div>
          <% if(profile){%>
            <div>
              <i class="icon-end"><button type="submit" class="btn-del"><%-
                    include("../../public/img/icons/delete.svg")%></button></i>
            </div>
            <% }%>
        </div>
      </div>
    </div>

  </div>
  <%}%>