<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body>
    <section class="container">
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <%- include("../partials/sidebar") %>
          <!-- Contenido de la primera columna -->
        </div>
        <div class="col-sm-10 col-md-6 col-lg-6">
          <%- include("../partials/newTweet") %> <%- include("../partials/tweetList",{profile}) %>
        </div>
        <div class="d-none d-md-block col-md-4">
          <!-- Contenido de la tercera columna -->
          <%- include("../partials/staticSidebar") %>
        </div>
      </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
